.cart{
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    background: #fff;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}

.cart-open {
    transform: translateX(0);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.cart-closed {
    transform: translateX(100%);
}

.cart-items {
    display: flex;
    align-items: center;
}

.cart-items > button {
    border-radius: 8px;
    background-color: #8B008B;
    border: none;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 50px;
    height: 25px;
}

.cart-items > button:nth-child(1) {
    margin-right: 5px;
}

.cart-items > h2 {
    margin-right: 5px;
}

.close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.price {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #f0f0f0;
    margin-right: 35px;
    background-color: #8B008B;
    border-radius: 8px;
}

.price > button:nth-child(1),
.price > p {
    margin-right: 55px;
}

.price > p {
    color: white;
    font-weight: bold;
}

.price > button:nth-child(1),
.price > button:nth-child(3) {
    border-radius: 8px;
    width: 60px;
    height: 30px;
    background-color: #8B008B;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.another-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
